*{
	margin: 0px;
}

body {
font-family: 'Arimo', sans-serif;
background:url(../img/5age.jpg);
background-repeat: no-repeat;
background-size: cover;


}
.container {
    width: 450px;
    margin: 10% auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffff;
    position: center;


}

.Signup-form form {
padding: 20px 20px;

}

.Signup-form img {
	width: 150px;
	height: 150px;
	margin: 0px auto;
	display: block;

	
}

.Signup-form h3 {
    color: #101011;
    text-align: center;
    margin: 20px;
    font-size: 30px;

}

.form-control {
	width: 100%;
	padding: : 30px 15px;
	margin-bottom: 10px;


	
}

.btn{ 
	background: Red;
	color: Black;
	padding: 10px 20px;
	margin: 0px auto;
	display: block;
	text-transform: uppercase;
	border: none;
	font-size: 20px;
	transition: 0.8s ease;
	

}

.btn:hover { 
	
	cursor: pointer;
	box-shadow: 5px 5px 3px #ffff;


}

.btn1 {
    background: #ebebf3;
    color: #ffff;
    padding: 10px 10px;
    margin: 0px auto;
    display: block;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    transition: 0.8s ease;
    text-align: center;
}

.btn2{ 
	color: Blue;
	font-size: 10px;
	text-align: right;
	margin: 0px auto;
	display: block;
}
